footer
  .container
    :markdown
      Built by [eirikb](https://github.com/eirikb).  
      Source on [github](https://github.com/eirikb/xybox).

      The XYBox library is built on top of a set of existing libraries:  
      [EaselJS]('http://www.createjs.com/#!/EaselJS') 
      ·
      [PreloadJS]('http://www.createjs.com/#!/PreloadJS')
      ·
      [Underscore.js]('http://underscorejs.org')
      ·
      [Kibo]('https://github.com/marquete/kibo')
      ·
      [box2d.js]('https://raw.github.com/HBehrens/box2d.js')
      ·
      [Trolley]('https://eirikb.github.io/trolley')

      Don't know about license yet because of the libraries.
