extends layout

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav
          li
            a(href='#install') Install
          li
            a(href='#xyboxlib') XYBox library
          li
            a(href='#defs') Defs and Items
          li
            a(href='#animations') Animations
  .container
    .hero-unit
      h1 XYBox
        small= pkg.version
      p Game engine
      p
        a.btn.btn-primary.btn-large(href='#install') Get started 
          i.icon-double-angle-down
      p
        a.btn.btn-primary.btn-large(href='tutorial.html') Tutorial 
          i.icon-double-angle-right
    section#install
      .page-header
        h1 Install/setup
      include install
    section#xyboxlib
      .page-header
        h1 XYBox library 
      include xyboxlib
    section#defs
      .page-header
        h1 Defs and Items
      include defs
    section#animations
      .page-header
        h1 Animations
      include animations
