extends layout

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav
          li
            a(href='#install') Install
          li
            a(href='#defs') Defs and Items
          li
            a(href='#animations') Animations
          li
            a(href='#physics') Physics
          li
            a(href='#cheatsheet') Cheat sheet
  .container
    .hero-unit
      h1 XYBox
        small= pkg.version
      p Game engine
      p
        a.btn.btn-primary.btn-large(href='#install') Get started 
          i.icon-chevron-down.icon-white
      p
        a.btn.btn-primary.btn-large(href='tutorial.html') Tutorial 
          i.icon-chevron-right.icon-white
      p
        a.btn.btn-large(href='#cheatsheet') Cheat sheet 
          i.icon-chevron-down
    section#install
      .page-header
        h1 Install/setup
      include install
    section#defs
      .page-header
        h1 Defs and Items
      include defs
    section#animations
      .page-header
        h1 Animations
      include animations
    section#physics
      .page-header
        h1 Physics
      include physics
    section#cheatsheet
      .page-header
        h1 Cheat Sheet
      include cheatsheet
  include footer
