extends layout

block css
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css')

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav
          li.active
            a(href='index.html') XYBox home
          li
            a(href='#defs') Defs and Items
          li
            a(href='#animations') Animations
          li
            a(href='#physics') Physics
          li
            a(href='#cheatsheet') Cheat sheet
  .container
    .hero-unit
      h1 XYBox
        small= pkg.version
      p Game engine
      p
        a.btn.btn-primary.btn-large(href='tutorial.html') Tutorial 
          i.icon-chevron-right.icon-white
      p
        a.btn.btn-large(href='https://github.com/eirikb/xybox') Source 
          i.icon-github
      p
        a.btn.btn-large(href='#cheatsheet') Cheat sheet 
          i.icon-chevron-down
    section#defs
      .page-header
        h1 Defs and Items
      include defs
    section#animations
      .page-header
        h1 Animations
      include animations
    section#physics
      .page-header
        h1 Physics
      include physics
    section#cheatsheet
      .page-header
        h1 Cheat Sheet
      include cheatsheet
  include footer
