.row
  .span12
    :markdown
      Either:  
      Include the ["_all_"](http://eirikb.github.io/xybox/#{pkg.version}/lib/xybox-all.min.js) bundle:
    pre.prettyprint
        &lt;script src="http://eirikb.github.io/xybox/#{pkg.version}/lib/xybox-all.min.js"&gt;
    :markdown
      Remove _min._ for development purposes (referenced libraries are still minified).

      Or:  
      install with [bower](https://github.com/bower/bower):
    pre bower install xybox
    :markdown
      Then all you need to do is reference the script(s) in your markup.
