.row
  .span12
    :markdown
      Include the "_all_" bundle:
    pre
      a(href="http://eirikb.github.io/xybox/#{pkg.version}/lib/xybox-all.min.js") http://eirikb.github.io/xybox/#{pkg.version}/lib/xybox-all.min.js
    :markdown
      Remove _min._ for development purposes (referenced libraries are still minified).

      Or install with [bower](https://github.com/bower/bower):
    pre bower install xybox
    :markdown
      Then all you need to do is reference the script(s) in your markup.
