!!!5
html
  head
    title xybox - Game engine
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css')
    link(rel='stylesheet', href='dist/app.min.css')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body(data-spy='scroll', data-target='.navbar', data-offet="1000")
    block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js')
    script(src='lib/xybox-all.js')
    script(src='dist/app.min.js')
