.row
  .span12
    :markdown
      XYBox let you combine physics and graphics in the same _JSON_ file.  
      Lets add some physics to our ball (_ball6.json_):

    .row
      .span6
        h5 Input
        pre.prettyprint
          include ../defs/ball7.json
      .span6
        h5 Output
        canvas#ball7

    :markdown
      That does not seem very fantastic, but that is a full blown physical object, trust me,
      it can do marvelous things.

      Lets add this brick wall: ![Brick wall](img/brick-wall.png) and some behavior with JS:

    .row
      .span6
        h5 Input
        strong ball8.json
        pre.prettyprint
          include ../defs/ball8.json
        strong ball8.js
        pre.prettyprint= js.ball8
      .span6
        h5 Output
        canvas#ball8(height=300)
