extends layout

block css
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sniglet:800')

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav
          li
            a(href='index.html')
              i.icon-chevron-left
              | XYBox home
          li
            a(href='#intro') Intro
          li
            a(href='#character') Character
          li
            a(href='#bombsaway') Bombs away
          li
            a(href='#map') Map
          li
            a(href='#evilcreatures') Evil creatures
          //li
            a(href='#thegame') The game
  .container
    section#intro
      .page-header
        h1 Intro 
      include tutorial/intro
    section#character
      .page-header
        h1 Character
      include tutorial/character
    section#bombsaway
      .page-header
        h1 Bombs away
      include tutorial/bombsaway
    section#map
      .page-header
        h1 Map
      include tutorial/map
    section#evilcreatures
      .page-header
        h1 Evil creatures
      include tutorial/evilcreatures
    //section#thegame
      .page-header
        h1 The game
      include tutorial/thegame

