extends layout

block css
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sniglet:800')

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav
          li
            a(href='/')
              i.icon-chevron-left
              | XYBox home
          li
            a(href='#intro') Intro
          li
            a(href='#character') Character
          li
            a(href='#bombsaway') Bombs away
  .container
    section#intro
      .page-header
        h1 Intro
      include tutorial/intro
    section#character
      .page-header
        h1 Character
      include tutorial/character
    section#bombsaway
      .page-header
        h1 Bombs away
      include tutorial/bombsaway
