.row
  .span12
    ul
      li
        h4 game
        p Properties:
        ul
          li
            strong objects 
            | All objects created.
          li
            strong actives 
            | Active (non-static, moving) objects created.
        p Functions:
        ul
          li
            strong init(canvas, defs ... ) 
            | Initialize a game with canvas ID and one or more defs.
      li
        h4 events
        p Functions:
        ul
          li
            strong on(name, callback) 
            | Add event listener.
          li
            strong trigger(name, arguments ... ) 
            | Trigger a given event.
