body {
    background-image: url(bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Stalinist One', cursive;
}

canvas { 
    margin: 0 auto;
    border: 1px solid; 
    background-image: url(paper.jpg);
}

section {
    margin-top: 40px;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    color: darkred;
    margin-left: 16px;
}
