.row
  .span12
    :markdown
      We can't have a proper game without some scary villains.  
      What does cats hate the most, beside locked doors? -water.
      At least those I have met.

      So lets make a water monster of pure evil.

    .row
      .span6
        h5 Input
        a(href='defs/tutorial/water.json') water.json
        pre.prettyprint
          include ../../defs/tutorial/water.json
        a(href='defs/tutorial/water-test.json') water-test.json
        pre.prettyprint
          include ../../defs/tutorial/water-test.json
        a(href='defs/tutorial/water-test.js') water-test.js
        pre.prettyprint= read('defs/tutorial/water-test.js')

      .span6
        h5 Output
        canvas.tutorial.well#water-test(width=400, height=400)
        :markdown
          Click to add a waterthingy, it will follow your mouse movement.
          If they hit the fire they will die.
