.row
  .span12
    h4
      a(href='#thegame')  TL;DR try the game
    :markdown
      Lets make a game!  
      Get your <i class="icon-coffee"></i> or your <i class="icon-beer"></i>
      and get ready to watch the birth of a game - using XYBox!

      For this tutorial we will make a simple copy of a well known classis: _BOMBERMAN_.  
      Like the rest of the internet I love cats, and so we will call this version 
    h2.name
      span.blue B
      span.violet O
      span.orange M
      span.indigo B
      span.red E
      span.green R
      span.blue C
      span.cyan A
      span.coral T
